.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-width: max-content;
    overflow-x: auto !important;
    /* Вертикальный скролл */
    align-items: center;

}

.logoCont {
    display: inline-block; /* Чтобы картинка была рядом с другими элементами */
    margin: 0; /* Убираем любые внешние отступы */
}

.logo {
    width: 100px; /* Устанавливаем нужный размер картинки */
    height: auto; /* Сохраняем пропорции */
}

.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 12px;
}

.error {
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Контейнер для прокрутки карты мест */
.seatMapWrapper {
    width: 100%;
    overflow-x: auto !important; /* Горизонтальный скролл */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;

}

/* Контейнер для самой сетки */
.seatMapContainer {
    display: inline-block;
    min-width: 100%; /* Исправляет обрезку слева */
}

/* Отдельный ряд */
.row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Запрещаем перенос строк */
    margin-bottom: 4px;
}

/* Обычные места */
.seat {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    margin: 2px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif; /* Универсальный шрифт */
    justify-content: center;
    color: black; /* Цвет текста */
    background-color: #ddd;
}

/* Зарезервированные места */
.seat.reserved {
    background-color: #4d4d4d;
    cursor: not-allowed;
}

/* Проход */
.aisle {
    min-width: 50px;
    min-width: 50px;
    background: transparent;
    border: none;
    cursor: default;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {

    .container {
        border-radius: 0;
        box-shadow: none;
      }

    .seat {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    .seatMapWrapper {
        overflow-x: scroll; /* Принудительный горизонтальный скролл */
    }

    .seatMapContainer {
        min-width: max-content; /* Убираем обрезку слева */
    }
}