.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.posterContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
.poster {
    max-width: 100%;
    max-height: 700;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.ticketStatus {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.ticketStatusBanned {
    color: red;
}

.ticketStatusUsed {
    color: green;
}

.ticketStatusCanceled {
    color: red;
}

.ticketDetails {
    font-size: 24px;
    margin: 20px 0;
}

.ticketDetails p {
    margin-bottom: 10px;
}

.ticketDetails span {
    font-weight: bold;
}

.qrCode {
    max-width: 100px;
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
}

/* Мобильная адаптация */
@media (max-width: 480px) {


    .title {
        font-size: 20px;
    }

    .ticketDetails p {
        font-size: 18px;
    }

    .ticketDetails span {
        font-size: 14px;
    }

    .qrCode {
        max-width: 100px;
    }

    .buttons {
        width: 100%;
        padding: 0 10px;
    }

    .button {
        width: 100%;
        font-size: 14px;
    }
}