body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 16px; /* Можно изменить на предпочтительный размер */
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700; /* Заголовки будут жирными */
  }